.home-nav {

    ul {
        list-style: none;
        padding-bottom: 30px;

        li {
            display: inline;
            padding: 50px;

            a {
                color: #F08080;
                font-family: 'Marck Script', cursive, sans-serif;
                text-decoration: none;
                width: 200px;
                font-size: 1.8em;
            }
        }
    }
}
