.popover {
  //background-color: #007bb5;
  display: flex;
  flex-direction: row;
  justify-content: center
;

  @media screen and (min-width: $mobile-width) {
    height: 300px;
  }



  .icon {
    //background-color: #5bc0de;
    display: flex;
    justify-content: space-around;
    width: 70px;

    @media screen and (min-width: $mobile-width) {
      padding: 20px;

    }
  }

  &:hover .icon {
    color: bisque;

  }

  .caption {
    display: flex;
    //background-color: #5bc0de;
    opacity: 0;
    justify-content: space-around;
    margin: auto;

  }

  &:hover .caption {
    opacity: 1;

  }
}