.section {
    padding: 50px 0;
    @media screen and (max-width: $mobile-width) {
        padding: 10px;
    }

    .section-content {
        padding: 40px;

        @media screen and (max-width: $mobile-width) {
            padding: 0px;
        }
    }

    .section-column {

        a {
            img {
                width: 100%;
                padding: 20px;

                @media screen and (max-width: $mobile-width) {
                    padding: 10px;
                }
            }
        }
    }

    &#section-work {}

    &#section-contact {

        .text-contact {
            padding: 80px;

            .contact-mail {
                text-decoration: none;
                background-color: lightgreen;
                border-radius: 10%;
            }
        }
    }

    &#section-about {
        .p-about {
            text-align: justify;
            margin: 20px;
            left: 0;


            .strong-about {
                display: block;
                margin: 20px 0;

                text-align: center;
            }
        }
    }
}
