html {
  font-size: 12px; }

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

html,
body {
  overflow-x: hidden; }

.wrapper {
  overflow-x: hidden; }

#content {
  background: white; }
  @media screen and (min-width: 540px) {
    #content {
      padding-left: 220px; } }

@keyframes imgHomeAnimation {
  0% {
    right: 300px; }
  100% {
    top: -60px;
    right: -50px; } }

.page-home .jumbotron {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 540px) {
    .page-home .jumbotron {
      height: 1600px; } }
  .page-home .jumbotron p {
    text-align: center;
    color: #555;
    font-size: 1.2em;
    display: none;
    border-radius: 5px;
    padding: 10px;
    z-index: 2; }
    @media screen and (min-width: 540px) {
      .page-home .jumbotron p {
        margin-left: -220px; } }
    @media screen and (min-width: 720px) {
      .page-home .jumbotron p {
        font-size: 1.3em; } }
    @media screen and (min-width: 960px) {
      .page-home .jumbotron p {
        font-size: 1.4em; } }
  @media screen and (max-width: 540px) {
    .page-home .jumbotron {
      padding-top: 240px;
      padding-bottom: 30px;
      display: block; } }

.page-home .home-img {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
  width: 200px; }
  @media screen and (max-width: 540px) {
    .page-home .home-img {
      display: block;
      top: 80px !important;
      right: 50%;
      margin-right: -100px; } }
  @media screen and (min-width: 540px) {
    .page-home .home-img {
      width: 300px; } }
  @media screen and (min-width: 720px) {
    .page-home .home-img {
      width: 400px; } }
  @media screen and (min-width: 960px) {
    .page-home .home-img {
      width: 500px; } }
  @media screen and (min-width: 1140px) {
    .page-home .home-img {
      width: 600px; } }
  @media screen and (min-width: 540px) {
    .page-home .home-img.animate {
      animation: imgHomeAnimation 3s forwards;
      display: inline; } }

@media screen and (min-width: 540px) {
  .page-home .section-content .socials {
    display: none; } }

.back-button {
  position: fixed;
  top: 10px;
  left: 30px;
  color: white;
  font-size: 2.4em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .back-button i {
    margin: 10px; }
  .back-button span {
    font-size: 1.8rem;
    display: none; }
  .back-button:hover {
    color: #282828; }

.section {
  padding: 50px 0; }
  @media screen and (max-width: 540px) {
    .section {
      padding: 10px; } }
  .section .section-content {
    padding: 40px; }
    @media screen and (max-width: 540px) {
      .section .section-content {
        padding: 0px; } }
  .section .section-column a img {
    width: 100%;
    padding: 20px; }
    @media screen and (max-width: 540px) {
      .section .section-column a img {
        padding: 10px; } }
  .section#section-contact .text-contact {
    padding: 80px; }
    .section#section-contact .text-contact .contact-mail {
      text-decoration: none;
      background-color: lightgreen;
      border-radius: 10%; }
  .section#section-about .p-about {
    text-align: justify;
    margin: 20px;
    left: 0; }
    .section#section-about .p-about .strong-about {
      display: block;
      margin: 20px 0;
      text-align: center; }
  .section#section-about .passion-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    font-size: 1em;
    color: dimgray; }
    @media screen and (max-width: 540px) {
      .section#section-about .passion-bottom {
        margin: 10px; } }

#aside {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 540px) {
    #aside {
      width: 220px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0; } }
  #aside .aside-top .aside-top-figure {
    text-align: center;
    margin: 0; }
  #aside .aside-top .aside-top-figure-img {
    border-radius: 50%;
    height: 170px;
    width: 170px; }
    @media screen and (max-width: 540px) {
      #aside .aside-top .aside-top-figure-img {
        width: 70px;
        height: 70px; } }
    @media screen and (min-width: 540px) {
      #aside .aside-top .aside-top-figure-img {
        margin: 20px 0; } }
  #aside .aside-top .aside-top-title {
    text-align: center;
    font-size: 1.7rem;
    padding: 0;
    font-weight: bold;
    color: black; }
    @media screen and (max-width: 540px) {
      #aside .aside-top .aside-top-title {
        padding: 0 10px; } }
  @media screen and (max-width: 540px) {
    #aside .aside-top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 10px; } }
  #aside .aside-nav {
    text-align: center; }
    #aside .aside-nav ul {
      list-style: none;
      padding: 40px 0; }
    #aside .aside-nav li {
      margin: 30px 0; }
    #aside .aside-nav a {
      text-decoration: none;
      width: 100px;
      text-decoration: none;
      color: black;
      position: relative;
      padding: 16px 7px;
      border-top: 2px solid rgba(255, 255, 255, 0);
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      transition: padding .3s, border-color .3s; }
      #aside .aside-nav a:focus, #aside .aside-nav a:hover, #aside .aside-nav a.active {
        padding: 5px 7px;
        border-color: black;
        outline: none; }
      #aside .aside-nav a::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 0;
        color: rgba(255, 255, 255, 0);
        border-left: 2px solid rgba(255, 255, 255, 0);
        content: attr(data-text);
        transition: max-height .3s, border-color 0s; }
      #aside .aside-nav a::after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 5px;
        max-height: 0;
        color: rgba(255, 255, 255, 0);
        border-right: 2px solid rgba(255, 255, 255, 0);
        content: attr(data-text);
        transition: max-height .3s, border-color 0s; }
      #aside .aside-nav a:focus::before, #aside .aside-nav a:hover::before, #aside .aside-nav a.active::before, #aside .aside-nav a.active::after, #aside .aside-nav a:focus::after, #aside .aside-nav a:hover::after {
        max-height: 100%;
        transition-delay: .28s;
        border-color: black; }
    @media screen and (max-width: 540px) {
      #aside .aside-nav {
        display: none; } }
  @media screen and (max-width: 540px) {
    #aside .aside-bottom {
      display: none; } }

.slider {
  width: 600px;
  margin: 0 auto; }
  .slider .slick-next::before,
  .slider .slick-prev::before {
    color: black; }
  .slider.slider-for a img {
    margin: 0 auto;
    height: 400px; }

.section .section-title {
  display: block;
  justify-content: center;
  text-align: center;
  background-color: bisque; }

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px; }
  .socials a {
    background-color: grey;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 35px; }
    .socials a.fa-facebook-f:hover {
      background: #3B5998;
      color: white; }
    .socials a.fa-twitter:hover {
      background: #55ACEE;
      color: white; }
    .socials a.fa-instagram:hover {
      background: #ff6666;
      color: white; }
    .socials a.fa-linkedin-in:hover {
      background: #007bb5;
      color: white; }
