html {
  font-size: 12px; }

body {
  -webkit-font-smoothing: antialiased; }

#content {
  background: #ff9999; }
  @media screen and (min-width: 550px) {
    #content {
      padding-left: 220px; } }

.back-button {
  position: fixed;
  top: 10px;
  left: 30px;
  color: white;
  font-size: 2.4em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .back-button i {
    margin: 10px; }
  .back-button span {
    font-size: 1.8rem;
    display: none; }
  .back-button:hover {
    color: #282828; }

#aside {
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media screen and (min-width: 550px) {
    #aside {
      width: 220px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0; } }
  #aside .aside-top .aside-top-figure {
    text-align: center;
    padding-top: 20px; }
  #aside .aside-top .aside-top-figure-img {
    width: 100%;
    border-radius: 50%;
    height: 170px;
    width: 170px; }
  #aside .aside-top .aside-top-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
    font-weight: bold;
    color: white; }
  #aside .aside-nav {
    text-align: center; }
    #aside .aside-nav ul {
      list-style: none;
      padding: 15px 0; }
    #aside .aside-nav li {
      margin: 20px 0; }
    #aside .aside-nav a {
      text-decoration: none;
      width: 100px;
      text-decoration: none;
      color: white;
      position: relative;
      padding: 16px 7px;
      border-top: 2px solid rgba(255, 255, 255, 0);
      border-bottom: 2px solid rgba(255, 255, 255, 0);
      transition: padding .3s, border-color .3s; }
      #aside .aside-nav a:focus, #aside .aside-nav a:hover {
        padding: 5px 7px;
        border-color: white;
        outline: none; }
      #aside .aside-nav a::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: 0;
        color: rgba(255, 255, 255, 0);
        border-left: 2px solid rgba(255, 255, 255, 0);
        content: attr(data-text);
        transition: max-height .3s, border-color 0s; }
      #aside .aside-nav a::after {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 5px;
        max-height: 0;
        color: rgba(255, 255, 255, 0);
        border-right: 2px solid rgba(255, 255, 255, 0);
        content: attr(data-text);
        transition: max-height .3s, border-color 0s; }
      #aside .aside-nav a:focus::before, #aside .aside-nav a:hover::before, #aside .aside-nav a:focus::after, #aside .aside-nav a:hover::after {
        max-height: 100%;
        transition-delay: .28s;
        border-color: white; }
  #aside .aside-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px; }
    #aside .aside-bottom a {
      background-color: white;
      color: black;
      text-decoration: none;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px; }
      #aside .aside-bottom a.fa-facebook:hover {
        background: #3B5998;
        color: white; }
      #aside .aside-bottom a.fa-twitter:hover {
        background: #55ACEE;
        color: white; }
      #aside .aside-bottom a.fa-instagram:hover {
        background: #125688;
        color: white; }
      #aside .aside-bottom a.fa-linkedin:hover {
        background: #007bb5;
        color: white; }

/*# sourceMappingURL=main.css.map */
