@keyframes imgHomeAnimation {
    0% {
        right: 300px;
    } //    20% {
    //        right: 150px;
    //    }
    //
    //    40% {
    //        right: 100px;
    //    }
    //
    //    60% {
    //        right: 50px;
    //    }
    //
    //    80% {
    //        right: 0px;
    //    }
    100% {
        top: -60px;
        right: -50px;
    }
}

.page-home {
    .jumbotron {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            color: #555;
            font-size: 1.2em;
            display: none;
            border-radius: 5px;
            padding: 10px;
            z-index: 2;

            @media screen and (min-width: $mobile-width) {
                margin-left: -$aside-width;
            }
            @media screen and (min-width: $small-width) {
                font-size: 1.3em;
            }
            @media screen and (min-width: $medium-width) {
                font-size: 1.4em;
            }
        }

        @media screen and (max-width: $mobile-width) {
            padding-top: 40px;
            display: block;
        }
    }

    .home-img {
        position: absolute;
        display: none;
        right: 0;
        z-index: 1;
        width: 200px;

        @media screen and (min-width: $mobile-width) {
            width: 300px;
        }
        @media screen and (min-width: $small-width) {
            width: 400px;
        }
        @media screen and (min-width: $medium-width) {
            width: 500px;
        }
        @media screen and (min-width: $large-width) {
            width: 600px;
        }

        &.animate {
            animation: imgHomeAnimation 3s forwards;
            display: inline;


        }
    }

}
